main {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

table {
    margin: 50px auto;
    margin-top: 100px;
}

#search {
    position: absolute;
    z-index: 1;
    margin: 10px auto;
    margin-left: 10px;
    margin-top: 50px;
}


#table-position {
    overflow: scroll;
    position: absolute;
    width: 343px;
    height: 100%;
    /* overflow: auto; */
    resize: horizontal;
    /* padding: 10px; */
    max-width: 500px;
    max-height: 100%;
    background: white;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}


  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    #table-position {
        overflow: scroll;
        height: 20%;
        width: 100%;
        position: absolute;
        background: white;
    }
  }



  









